src/PC.ServiceBus/PC.ServiceBus/Configuration/AzureConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:PC.ServiceBus.Configuration" elementFormDefault="qualified" targetNamespace="urn:PC.ServiceBus.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="azureConfiguration" type="tns:PC.ServiceBus.Configuration.AzureConfigurationCT" />
	<xs:complexType name="PC.ServiceBus.Configuration.AzureConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="settings" type="tns:PC.ServiceBus.Configuration.SettingsCT">
				<xs:annotation>
					<xs:documentation>The Settings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="topics" type="tns:PC.ServiceBus.Configuration.topicsCT">
				<xs:annotation>
					<xs:documentation>The Topics.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PC.ServiceBus.Configuration.SettingsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:PC.ServiceBus.Configuration.AddCT">
				<xs:annotation>
					<xs:documentation>The Add Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PC.ServiceBus.Configuration.AddCT">
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PC.ServiceBus.Configuration.topicsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="topic" type="tns:PC.ServiceBus.Configuration.topicCT">
				<xs:annotation>
					<xs:documentation>A collection of subscription instances.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PC.ServiceBus.Configuration.subscriptionCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PC.ServiceBus.Configuration.topicCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="subscription" type="tns:PC.ServiceBus.Configuration.subscriptionCT">
				<xs:annotation>
					<xs:documentation>The subscription Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isEventBus" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The isEventBus.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
