src/PC.Monitoring/PC.Monitoring/MonitoringConfigSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:SGP.Monitoring" elementFormDefault="qualified" targetNamespace="urn:SGP.Monitoring" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="monitoringConfiguration" type="tns:SGP.Monitoring.MonitoringConfigurationCT" />
	<xs:complexType name="SGP.Monitoring.MonitoringConfigurationCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="serviceMonitorGroups" type="tns:SGP.Monitoring.ServiceMonitorGroupsCT">
				<xs:annotation>
					<xs:documentation>The serviceMonitorGroups.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SGP.Monitoring.ServiceMonitorConfigurationCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="settings" type="tns:SGP.Monitoring.SettingsCT">
				<xs:annotation>
					<xs:documentation>The Settings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="type" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SGP.Monitoring.ServiceMonitorGroupsCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="serviceMonitorGroup" type="tns:SGP.Monitoring.ServiceMonitorGroupCT">
				<xs:annotation>
					<xs:documentation>The ServiceMonitorGroup Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SGP.Monitoring.SettingsCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:SGP.Monitoring.AddCT">
				<xs:annotation>
					<xs:documentation>The Add Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SGP.Monitoring.AddCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SGP.Monitoring.ServiceMonitorGroupCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="serviceMonitors" type="tns:SGP.Monitoring.ServiceMonitorsCT">
				<xs:annotation>
					<xs:documentation>The ServiceMonitors.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SGP.Monitoring.ServiceMonitorsCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="serviceMonitorConfiguration" type="tns:SGP.Monitoring.ServiceMonitorConfigurationCT">
				<xs:annotation>
					<xs:documentation>The ServiceMonitorConfiguration Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
